{% extends 'index.html.twig' %}

{% block title %}Galery{% endblock %}

{% block body %}
    <h1>Galery</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ galery.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ galery.name }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        <h2>Pictures</h2>
        {% for picture in galery.pictures %}
            <img src="{{ asset('/uploads/pictures/'~picture.name) }}" alt="{{ picture.name }}" height="200" width="200">
        {% endfor %}
    </div>

    <a href="{{ path('galery_index') }}">back to list</a>

    <a href="{{ path('galery_edit', {'id': galery.id}) }}">edit</a>

    {{ include('galery/_delete_form.html.twig') }}
{% endblock %}
