<nav>
    <ul>
        <li>
            <a href="{{ path('classroom_index') }}">Classrooms</a>
        </li>
        <li><a href="{{ path('teacher_index') }}">Teachers</a></li>
        <li><a href="{{ path('student_index') }}">Students</a></li>
        <li><a href="{{ path('galery_index') }}">Galeries</a></li>
        <li><a href="{{ path('picture_index') }}">Pictures</a></li>

    </ul>
</nav>